# Visual Studio
.vs/

# Build folders
bin/
obj/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code (optional)
.vscode/

# Logs
*.log

# Temp
*.tmp
*.cache

# NuGet packages
packages/

# Publish
publish/

# Test Results
TestResults/

# OS files
Thumbs.db
.DS_Store

# Build
bin/
obj/

# Visual Studio temporary files
*.csproj.user
*.suo
*.user
*_wpftmp.csproj

# Piper runtime
SegaAgent/Piper/output.wav
SegaAgent/Piper/*.dll
SegaAgent/Piper/*.exe
SegaAgent/Piper/*.ort

# Piper data
SegaAgent/Piper/espeak-ng-data/